In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
data=pd.read_csv("C:\\Users\\Dedshan Vimukthi\\Documents\\projects_dataset\\movie_data.CSV")

In [27]:
data.head()

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,movie_imdb_link,num_user_for_reviews,language,country,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,7.1

In [28]:
data.shape

(5043, 14)

In [29]:
((data.isnull().sum())/len(data))*100

director_name           2.062265
duration                0.297442
actor_2_name            0.257783
genres                  0.000000
actor_1_name            0.138806
movie_title             0.000000
num_voted_users         0.000000
actor_3_name            0.456078
movie_imdb_link         0.000000
num_user_for_reviews    0.416419
language                0.237954
country                 0.099147
title_year              2.141582
imdb_score              0.000000
dtype: float64

In [30]:
data.dropna(inplace=True)

In [31]:
data=data[~data["movie_title"].duplicated()]

In [32]:
data.shape

(4760, 14)

In [33]:
data.reset_index(inplace=True)

In [35]:
data.drop("index",axis=1,inplace=True)

In [36]:
data.head()

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,movie_imdb_link,num_user_for_reviews,language,country,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,8.5
4,Andrew Stanton,132.0,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,Polly Walker,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,2012.0,6.6

In [37]:
df=data[["movie_title","director_name","actor_1_name","actor_2_name","actor_3_name","genres","language"]]

In [38]:
df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,language
0,Avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,English
1,Pirates of the Caribbean: At World's End,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,English
2,Spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English
3,The Dark Knight Rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,English
4,John Carter,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,English

In [39]:
features=[]

for i in range(df.shape[0]):
    features.append(" ".join(list(df.iloc[i,1:].values)))

In [41]:
df["features"]=features

<ipython-input-41-77e414d68e1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["features"]=features

In [42]:
df=df[["movie_title","features"]]

In [43]:
df.head()

,movie_title,features
0,Avatar,James Cameron CCH Pounder Joel David Moore Wes...
1,Pirates of the Caribbean: At World's End,Gore Verbinski Johnny Depp Orlando Bloom Jack ...
2,Spectre,Sam Mendes Christoph Waltz Rory Kinnear Stepha...
3,The Dark Knight Rises,Christopher Nolan Tom Hardy Christian Bale Jos...
4,John Carter,Andrew Stanton Daryl Sabara Samantha Morton Po...

In [47]:
cvec=CountVectorizer()
cv_df=cvec.fit_transform(df["features"])

In [48]:
cv_df.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
cv_df.shape

(4760, 8450)

In [50]:
df.shape

(4760, 2)

In [51]:
cs=cosine_similarity(cv_df)

In [52]:
cs

array([[1.        , 0.2981424 , 0.2236068 , ..., 0.1490712 , 0.06900656,
        0.06900656],
       [0.2981424 , 1.        , 0.25      , ..., 0.08333333, 0.07715167,
        0.07715167],
       [0.2236068 , 0.25      , 1.        , ..., 0.16666667, 0.07715167,
        0.07715167],
       ...,
       [0.1490712 , 0.08333333, 0.16666667, ..., 1.        , 0.15430335,
        0.07715167],
       [0.06900656, 0.07715167, 0.07715167, ..., 0.15430335, 1.        ,
        0.07142857],
       [0.06900656, 0.07715167, 0.07715167, ..., 0.07715167, 0.07142857,
        1.        ]])

In [54]:
title="John Carter"

movie_index=df[[title in name for name in df["movie_title"]]].index[0]

In [55]:
movie_index

4

In [56]:
scores=list(enumerate(cs[movie_index]))

In [57]:
stored_scores=sorted(scores,key=lambda x:x[1],reverse=True)

In [58]:
top_10=[h[0] for h in stored_scores[1:11]]

In [59]:
df.iloc[top_10]["movie_title"]

1363                                     Spy Kids
1767    Spy Kids: All the Time in the World in 4D
38                       The Amazing Spider-Man 2
483                                      Timeline
57                                         WALL·E
162                                       Stealth
972                                      The Host
43                           Terminator Salvation
47                        Star Trek Into Darkness
108                            Terminator Genisys
Name: movie_title, dtype: object